BSC_TESTNET_RPC_URL=
PRIVATE_KEY=
MOCK_USDC=
MOCK_WBTC=
ROUTE_VALIDATOR=
PANCAKE_V2_ADAPTER=
USDC_WBNB_USDC_AMOUNT=
USDC_WBNB_WBNB_AMOUNT=
WBNB_WBTC_WBNB_AMOUNT=
WBNB_WBTC_WBTC_AMOUNT=
WBTC_USDC_WBTC_AMOUNT=
WBTC_USDC_USDC_AMOUNT=
